{
    "mapping" : [
        {
            "bzProduct": "www.mozilla.org",
            "bzComponent": "",
            "kbWorkspace": "mozilla",
            "kbProjectId": 33256
        },
        {
            "bzProduct": "Community Tools",
            "bzComponent": "Phonebook",
            "kbWorkspace": "mozilla",
            "kbProjectId": 23282
        },
        { 
            "bzProduct": "FoodReplicator", 
            "bzComponent": "", 
            "kbWorkspace": "mozilla",
            "kbProjectId": 35356
        }
    ]
}
